<!DOCTYPE html>
<html>
<head>
    <title>Пример шаблонизации с EJS</title>
</head>
<body>
    <h1>Users</h1>
    <!-- Вывод значения переменной -->
    <ul>
        <%if (arr.length) {%>
            <% arr.forEach(({ message, time }) => { %>
                <li>
                    <span><%= message %></span><span><%= time %></span>
                </li>
            <% }) %>
        <% } %>
    </ul>
</body>
</html>