<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style>
        li {
            width: max-content;
            min-width: 150px;
            display: flex;
            justify-content: space-between;
        }
        li:not(:last-child) {
            margin-bottom: 10px;
        }
        form {
            display: inline-block;
        }
        button:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Users</h1>

    <ul>
    <% if (users_data.length > 0) {%>
        <% users_data.forEach(user => { %>
            <li>
                <span><%= user.name %></span>
                <form action="/get_balance" method="post">
                    <input type="hidden" name="user_id" value="<%= user.id %>">
                    <button>get balance</button>
                </form>
            </li>
        <% }) %>
    <% } %>
    </ul>
</body>
</html>